body {
    font-family: Consolas, sans-serif;
    background-color: white;
}
div#support-options h2 {
    background-color: black;
    color: white;
    padding-left: 4px;
}

div#support-options h3 {
    border-bottom: solid darkslategray thin;
    border-left: solid darkslategray thin;
    padding-left: 2px;
}

div.services {
    padding: 0;
}

div.divider-vertical {
    border-left: solid thin black;
}

div#bountysource img {
}

div#bountify img {
    margin-top: 9px;
}

p.service-logo {
    margin-top: 0;
    text-align: center;
}

p.service-notes {
    padding: 0;
}

div#bountysource p.service-logo {
    margin-bottom: 0px;
}

div#bountysource p.service-notes {
    margin-top: 0px;
}

div.learn-more {
    font-size: 80%;
    text-align: right;
}
div.learn-more a {
    text-decoration: none;
}

.center {
    text-align: center;
}
